doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Papers
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Generate funny computer science paper titles using Markov chains.')
    link(rel='apple-touch-icon', href='/favicon152.png')

    style: :stylus(compress=true)
      body
        font-size 1.2em
        line-height 1.4
      .header, .middle, .footer
        margin 0 auto
        max-width 600px
      .footer
        padding-top 1em
        small
          color #999
          a
            color #888
      a
        text-decoration none
        &:hover
          text-decoration underline

  body
    .header: :markdown-it
      # [Papers](.)

      Generate funny computer science paper titles using Markov chains.

    .middle
      p: button#load.btn.btn-info(type='button') Load Data
      #controls(style='display: none')
        .centered
          p: button#generate.btn.btn-info(type='button') Generate New

      // googleoff: all
      #titles
      // googleon: all

    .footer
      :markdown-it
        Created by [Paul Nechifor](/). [View the Git source.](https://github.com/paul-nechifor/papers)

      small: :markdown-it
        [Home](/) •
        [Blog](/blog) •
        [Projects](/projects) •
        [Twitter](https://twitter.com/PaulNechifor)

    script !{js}
